/* Define o modelo de caixa border-box para todos os elementos */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Define a largura e altura do elemento HTML */
html {
	width: 100%;
	height: 100%;
}

/* Define a exibição inline-block para elementos dentro da navegação */
nav li, nav div, nav img, .main-nav-options ul,  #main-nav-search {
	display: inline-block;
}

/* Estilos para o cabeçalho principal */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
}

/* Ajusta o espaçamento acima do conteúdo principal */
#content-wrapper {
    padding-top: 110px;
}

/* Estilos para a navegação principal */
#main-nav {
	font-family: Arial;
	font-weight: bold;
	font-size: 0.8em;
	max-width: 978px;
	margin: 0 auto;
}

/* Estilos para o logotipo da BBC */
img#bbc-logo {
	width: 85px;
	padding-bottom: 5px;
	position: relative;
	top: -2px;
}

/* Estilos para a área de login */
div#sign-in {
	margin: 0px 70px 0px 5px;
	padding: 10px 0px 0px 10px;
	border-left: solid 1px #E4E4E4;
}

/* Estilos para a imagem na área de login */
div#sign-in img {
	float: left;
	padding-bottom: 10px;
}

/* Estilos para o texto na área de login */
div#sign-in p {
	float: left;
	padding: 5px 0px 0px 5px;
}

/* Estilos para as opções de navegação principal */
div.main-nav-options {
	padding-top: 0px;
}

/* Estilos para a lista de opções de navegação principal */
div.main-nav-options ul {
	float: left;
}

/* Estilos para os itens de opções de navegação principal */
li.main-nav-options-item {
	padding: 10px 10px 10px 10px;
	border-left: solid 1px #E4E4E4;
}

/* Estilos para a imagem de sino */
img#bell {
	position: relative;
	top: 5px;
}

/* Estilos para a seta para baixo */
img#down-arrow {
	margin-left: 30px;
}

/* Estilos para a área de pesquisa da navegação principal */
div#main-nav-search {
	float: left;
	margin: 15px 0px 0px 0px;
	position: relative;
	left: 31px;
	bottom: 4px;
}

/* Estilos para a caixa de pesquisa e o texto na área de pesquisa */
div#main-nav-search, input {
	background-color: #E4E4E4;
	outline: none;
	border: solid 1px #E4E4E4;
	font-weight: bold;
	color: black;
}

/* Estilos para o item de navegação ativo na seção de notícias */
.news-section-nav-item.active {
    border-bottom: 4px solid #ffffff; 
}

/* Estilos para a imagem de sino no cabeçalho */
div#main-nav-search img {
	margin: 2px 2px -4px 0px;
}

/* Estilos para os links da seção de notícias */
#news-section-nav li a {
    text-decoration: none;
	color: #000;
	font-size: 20px;
}

/* Estilos para a barra de navegação da seção de notícias */
#news-section-nav {
	background-color: #bd3737;
}

/* Estilos para a lista não ordenada da barra de navegação */
#news-section-nav ul {
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Estilos para os itens da barra de navegação */
#news-section-nav li {
	font-size: 16px;
	color: #ffffff;
	margin: 5px 8px 5px 0px;
	padding: 2px 0px 2px 11px;
	border-left: solid 1px #BB4545;
}

/* Estilos para o primeiro item da barra de navegação */
#news-section-nav li:first-child {
	padding-left: 0;
	border-left: none;
}

/* Estilos quando o cursor passa por cima dos itens da barra de navegação */
#news-section-nav li:hover {
	border-bottom: solid 4px #fff;
}

/* Estilos para o cabeçalho da seção de notícias */
div#news-section-header {
	font-family: 'Arial', sans-serif;
	background-color: #BB1919;
}

/* Estilos para o título da seção de notícias */
div#news-section-title {
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
	padding: 7px 0px;
	color: #fff;
}

/* Estilos para o texto do título da seção de notícias */
div#news-section-title h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	letter-spacing: 2px;
}

/* Estilos para a seção de notícias locais */
div#local-news {
	float: right;
	border: solid 1px #BB4545;
	padding: 5px 8px 5px 8px;
	position: relative;
	top: 5px;
}

/* Estilos para os links de notícias locais */
div#local-news a {
	text-decoration: none;
	font-size: 1.2em;
	color: #fff;
}

/* Estilos para o conteúdo principal */
#content-wrapper {
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Arial', sans-serif;
}

/* Estilos para a seção de notícias principal */
div#main-news-wrapper { 
	width: 65%;
	float: left;
}

/* Estilos para o título da seção de notícias principal */
div#main-news-wrapper h3 {  /*section title: Technology*/
	padding-top: 10px;
	margin-bottom: 20px;
	font-size: 1.25em;
	color: #404040;
}

/* Estilos para o sublinhado do título da seção de notícias principal */
div#main-news-wrapper h3 u {
    text-decoration: none;
    border-bottom: 3px solid #BB1919;
}

/* Estilos para a notícia principal */
#top-story {
	height: 350px;
}

/* Estilos para o título da notícia principal */
article#top-story h1 {
	font-size: 1.95em;
	font-weight: bold;
	color: #222222;
	padding-top: 10px;
	padding-bottom: 20px;
}

/* Estilos para a imagem da notícia principal */
article#top-story img {
	float: right;
	width: 400px;
	height: 223px;
	padding-left: 15px;
}

/* Estilos para o texto da notícia principal */
article#top-story p {
	line-height: 1.25em;
	color: #5A5A5A;
}

/* Estilos para a data da notícia */
.article-date {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.8em;
	line-height: 20px;
	color: #5A5A5A;
}

/* Estilos para o ícone da data */
.article-date img {
	padding-right: 4px;
	position: relative;
	bottom: -2px;
}

/* Estilos para a categoria de notícia na data */
.article-date span {
	color: #BB1919 !important;
}

/* Estilos para a linha vermelha no final do artigo */
svg#red-line {
	display: block;
	padding-bottom: 10px;
}

/* Estilos para os links de artigos relacionados */
a.related-article-link {
	font-size: 0.9em;
	color: #000;
	text-decoration: none;
	padding-bottom: 15px;
}

/* Estilos quando o cursor passa por cima dos links de artigos relacionados */
a.related-article-link:hover {
	color: #1167A8;
}

/* Estilos para a área de notícias adicionais no final do artigo principal */
div#more-top-stories {   
	padding-top: 15px;
	border-top: solid 1px #DBDBDB;
	position: relative;
	display: block;
}


div#column-stories {    
	float: left;
	width: 72%;
}

article.other-story {
	float: left;
	width: 46.5%;
	padding: 0px 15px 8px 0px;
	margin-left: 0;
	margin-right: 15px;
	border-right: solid 1px #DBDBDB;
}

article.other-story img {
	width: 100%;
	height: 150px;
	padding-bottom: 4px;
}

article.other-story h5 {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
	padding-bottom: 8px;
}

article.other-story p {
	font-size: 0.9em;
	line-height: 1.25em;
	color: #5A5A5A;
}

aside#more-stories {
	float: left;
	width: 26%;
}

article.other-headline {
	margin-bottom: 8px;
	border-bottom: solid 1px #DBDBDB;
}

article.other-headline:last-of-type {
	border-bottom: none;
}

article.other-headline h5 {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.1em;
}



aside#watch-listen {
	width: 30%;
	float: left;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #DBDBDB;
	position: relative;
	top: 70px;
	height: 640px;
}

aside#watch-listen h2 {
	font-size: 1.47em;
	color: #404040;
	padding-bottom: 20px;
}

article.featured-video {
	display: block;
	height: 93px;
	width: 300px;
	position: relative;
}

img.video-thumbnail {
	float: left;
	padding-right: 10px;
	width: 150px;
	height: 75px;
}

article.featured-video h5 {
	padding-top: 4px;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #404040;
}

@media (max-width: 1000px) {
    #main-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
    }

	div#news-section-title h1 {
		font-size: 50px;
	}

	#news-section-nav li a {
		font-size: 30px;
	}

    #content-wrapper {
        padding-top: 150px;
    }

	div#main-news-wrapper h3 u {
		font-size: 30px;
	}

	article#top-story h1 {
		font-size: 45px;
	}

	article#top-story img {
		width: 100%;
		padding: 15px;
		max-width: 100%;
		height: auto;
	}

	aside#watch-listen {
		width: 30%;
		float: left;
		padding-left: 15px;
		margin-left: 15px;
		border-left: 1px solid #DBDBDB;
		position: relative;
		top: 70px;
		height: 640px;
	}

	.article-date {
		font-size: 30px;
	}

	div#column-stories {
		float: left;
		width: 72%;
		margin-top: 200px;
	}

	aside#more-stories {
		float: left;
		width: 26%;
		margin-top: 200px;
	}



	div#imap {
		text-align: center; /* Centraliza horizontalmente o conteúdo */
	}
	
	
	div#imap  p {
		margin-top: 10px; /* Adiciona espaçamento entre a imagem e o texto (ajuste conforme necessário) */
		font-size: 40px; /* Tamanho da fonte do texto (ajuste conforme necessário) */
		text-align: center; /* Centraliza o texto horizontalmente */
		width: 100%;
	}

    div#sign-in {
        margin: 0;
        padding: 10px;
        border-left: none;
    }
	
	.article-date {
    font-size: 25px;
	width: 100%;
}

    div#main-nav-search {
        float: none;
        margin: 15px 0 0;
        position: static;
        left: auto;
        bottom: auto;
    }
	
	aside#watch-listen {
		display: none;
	}
  
	div#main-news-wrapper h3 u {
		font-size: 40px;
		align-items: center;
		display: flex;
		justify-content: center;
		padding-top: 20px;
		font-weight: bold;
	}


	div#main-news-wrapper {
		width: 100%;
		float: left;
		padding-top: 50px;
	}

	article.other-headline h5 {
		font-size: 30px;
	}

	#news-section-title {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#news-section-nav{
		height: 90px;
	}

	article#top-story p {
		font-size: 35px;
		display: flex;
		justify-content: center;
		width: 100%;
		text-align: center;
	}

	article.other-story h5 {
		font-size: 35px;
	}

	article.other-story p {
		font-size: 30px;
	}

	a.related-article-link {
		font-size: 25px;
	}

	#news-section-nav ul {
		max-width: 978px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		padding-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}